# Financial Applications of Time Series
## MSDS 7333 - Section 404
## Unit 4: Case Study

[Data Science @ Southern Methodist University](https://datascience.smu.edu/)

# Table of Contents
* [Team Members](#Team-Members)
* [Abstract](#Abstract)
* [Introduction](#Introduction)
* [Literature Review](#Literature-Review)
* [Import Dataset](#Import)
* [Background](#Background)
* [Methods](#Methods)
* [Results](#Results)
* [Future Work, Discussion, and Conclusion](#Conclusion)
* [References](#References)

# <a name="Team-Members"></a>Team Members
* [Jostein Barry-Straume](https://github.com/josteinstraume)

# <a name="Abstract"></a>Abstract

# <a name="Introduction"></a>Introduction

# <a name="Literature-Review"></a>Literature Review

# <a name="Background"></a>Background

## Import Dataset

In [2]:
%%capture
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#filepath = '../data/'

close_px = pd.read_csv('../data/stock_px.txt', parse_dates=True, index_col=0)
volume = pd.read_csv('../data/volume.txt', parse_dates=True, index_col=0)
prices = close_px.loc['2011-09-05':'2011-09-14', ['AA', 'GE', 'IBM', 'MSFT']]
volume = volume.loc['2011-09-05':'2011-09-12', ['AA', 'GE', 'IBM', 'MSFT']]

In [5]:
prices.head()

               AA     GE     IBM   MSFT
2011-09-06  11.77  15.11  165.11  25.51
2011-09-07  12.25  15.65  167.31  26.00
2011-09-08  12.03  15.44  165.25  26.22
2011-09-09  11.58  14.95  161.37  25.74
2011-09-12  11.55  14.87  162.42  25.89

In [7]:
volume.head()

                    AA           GE        IBM        MSFT
2011-09-06  23960600.0   97466600.0  5761200.0  54929300.0
2011-09-07  16645700.0   60239400.0  6796600.0  41961000.0
2011-09-08  15735500.0  117920800.0  6027200.0  65811900.0
2011-09-09  24972700.0  144441000.0  6743900.0  64529200.0
2011-09-12  28990500.0  169797200.0  5247200.0  55046100.0

In [9]:
prices * volume

                     AA            GE           IBM          MSFT
2011-09-06  282016262.0  1.472720e+09  9.512317e+08  1.401246e+09
2011-09-07  203909825.0  9.427466e+08  1.137139e+09  1.090986e+09
2011-09-08  189298065.0  1.820697e+09  9.959948e+08  1.725588e+09
2011-09-09  289183866.0  2.159393e+09  1.088263e+09  1.660982e+09
2011-09-12  334840275.0  2.524884e+09  8.522502e+08  1.425144e+09
2011-09-13          NaN           NaN           NaN           NaN
2011-09-14          NaN           NaN           NaN           NaN

In [11]:
vwap = (prices * volume).sum() / volume.sum()

In [13]:
vwap

AA       11.778689
GE       15.122853
IBM     164.340091
MSFT     25.875054
dtype: float64

In [15]:
vwap.dropna()

AA       11.778689
GE       15.122853
IBM     164.340091
MSFT     25.875054
dtype: float64

In [17]:
prices.align(volume, join='inner')

(               AA     GE     IBM   MSFT
 2011-09-06  11.77  15.11  165.11  25.51
 2011-09-07  12.25  15.65  167.31  26.00
 2011-09-08  12.03  15.44  165.25  26.22
 2011-09-09  11.58  14.95  161.37  25.74
 2011-09-12  11.55  14.87  162.42  25.89,
                     AA           GE        IBM        MSFT
 2011-09-06  23960600.0   97466600.0  5761200.0  54929300.0
 2011-09-07  16645700.0   60239400.0  6796600.0  41961000.0
 2011-09-08  15735500.0  117920800.0  6027200.0  65811900.0
 2011-09-09  24972700.0  144441000.0  6743900.0  64529200.0
 2011-09-12  28990500.0  169797200.0  5247200.0  55046100.0)

In [19]:
s1 = Series(range(3), index=['a', 'b', 'c'])
s2 = Series(range(4), index=['d', 'b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])
DataFrame({'one': s1, 'two': s2, 'three': s3})

   one  three  two
a  0.0    1.0  NaN
b  1.0    NaN  1.0
c  2.0    2.0  2.0
d  NaN    NaN  0.0
e  NaN    NaN  3.0
f  NaN    0.0  NaN

In [20]:
DataFrame({'one': s1, 'two': s2, 'three': s3}, index=list('face'))

   one  three  two
f  NaN    0.0  NaN
a  0.0    1.0  NaN
c  2.0    2.0  2.0
e  NaN    NaN  3.0

# <a name="Methods"></a>Methods

# <a name="Results"></a>Results

# <a name="Conclusion"></a>Future Work, Discussion, and Conclusion

# <a name="References"></a>References

* McKinney, West, https://github.com/wesm/pydata-book/tree/1st-edition
* Slater, R.D., "Financial and Economic Data Applications." Ch11-code-new. 2018.
*